<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
</head>
<body>
	<center>
		<form action="" method="POST">
			{% csrf_token %}
			{% for key,value in form.errors.items %} <!-- error --> 
				{{value}}
			{% endfor %}
			<p><label for="">Tai khoan</label>{{form.username}}</p>
			<p><label for="">Mat khau</label>{{form.password}}</p>
			<input type="hidden" name="next" value="/"> <!-- login success -->
			<input type="submit" value="Dang nhap">
		</form>
	</center>
</body>
</html>